@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

h1.title{
    font-size: 64px;
    color: purple;
    text-align: center;
}

p.desc{
    font-size: 22px;
    color: purple;
    text-align: center;
}

section.banner{
    background-color: #ffc0cb5a;
    height: 100vh;
}

section.banner header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

section.banner header nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

section.banner header nav a{
    text-decoration: none;
    color: purple;
    text-transform: uppercase;
    font-size: 22px;
}

section.banner header .login{
    display: flex;
    align-items: center;
    gap: 2rem;
}

section.banner header .login .connexion{
    border: 2px solid purple;
    border-radius: 3px;
    width: 142px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    font-size: 20px;
}

.banner-content{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.banner-content img{
    width: 40%;height: 700px;
}

.banner-content .left h1{
    font-size: 86px;
    color: purple;
}

.banner-content .left p{
    color: purple;
    margin-bottom: 2rem;
    font-size: 24px;
}

.banner-content .left a{
    display: flex;
    background-color: purple;
    color: #fff;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    width: 258px;
}

section.best{
    margin-top: 2rem;
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 5rem;
    gap: 2rem;
}

.products img{
    width: 100%;
}

.product h4{
    font-size: 22px;
    color: #373737;
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.product .price{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: #454545;
}

.price p{
    margin-top: 0 !important;
}

.product .price .staring{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.product .price .staring img{
    width: 20px;
    height: 20px;
}

a.more-products{
    width: 224px;
    height: 65px;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    gap: 1rem;
    font-size: 22px;
    color: purple;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 4rem;
}

.categories .category{
    color: #454545;
    font-size: 22px;
    cursor: pointer;
}

.categories .category.active, .categories .category:hover{
    color: purple;
    border-bottom: 2px solid purple;
}

.our .list{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 2rem 5rem;
}

.our .list .product img{
    width: 100%;
}

.offer{
    background-color: pink;
    margin: 3rem 5rem;
    display: flex;
    padding: 2rem 6rem;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.offer .content {
    width: 45%;
}

.offer .content h2{
    color: purple;
    font-size: 46px;
}

.offer .content p{
    font-size: 22px;
    color: purple;margin-top: 2rem;
}

.offer .content .counter{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.offer .content .counter div{
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offer .content .counter div h6{
    font-size: 32px;
    color: purple;
}

.offer .content .counter div span{
    font-size: 16px;
    color: purple;
}

.product p{
    text-align: center;
    margin-top: 1rem;
}

.testis{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 30%;
    gap: 2rem;
}

.testis .card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    -webkit-box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    -moz-box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    border-radius: 10px;
    display: none;
}

.testis .card.active{
    background-color: pink;
    display: flex;
}

.testis .card img{
    width: 30px;
}

.testis .card h3{
    color: purple;
}

.testis .card p{
    color: #6F6F6F;
}

.testis .card.active p{
    color: purple;
}

.slide-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slide-buttons div{
    box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    -webkit-box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    -moz-box-shadow: 0px 7px 30px 0px rgba(128, 117, 117, 0.226);
    border-radius: 10px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide-buttons div:hover{
    background-color: pink;
}

footer{
    background-color: purple;
    padding: 2rem 5rem;
    margin-top: 3rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

footer .socials{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .socials h6{
    color: #fff;
    font-size: 22px;
}

footer .socials .images{
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer h2{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

footer .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

footer .links a{
    color: #fff;
    font-size: 20px;
}

.newsletter form{
    border: 2px solid #fff;
    width: 450px;
    height: 57px;
    margin-top: 2rem;
}

.newsletter form input{
    width: 70%;
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 1rem;
    color: #fff;
}


.newsletter form button{
    height: 100%;
    width: 29%;
    color: purple;
    font-weight: bold;
}

.rights{
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
}

.tab-content {
    display: none;
}

.tab-content.active{
    display: grid;
}
